@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Shizuru&display=swap');
body{
    text-align: center;
    background: #1b1f47 ;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }

h1{
    text-align: center;
    font-size: 3.7em;
    color: antiquewhite;
    font-family: 'Moo Lah Lah', cursive;
}
h3{
    margin: 1%;
    color: antiquewhite;
}


.img-container{
    margin: auto;
    width: 70%;
    background-color: #fff;
    padding-bottom: 20px;
    background: rgba(255,255,255, 0.2);
    border-radius: 5px;
}

.options{
    margin-top: 20px;
    font-size: 2em;
    padding-bottom: 10px;
}
label{
    color: #fff;
    
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #1b1f47;
  }

  img{
    width: 450px;
    height: 450px;
  }
  button {
    position: relative;
    background-color: #1b1f47;
    border: none;
    border-radius: 5px;
    height: auto;
    width: max-content;
    color: whitesmoke;
    font-size: 12px;
    justify-self: center;
    padding: 12px 17px;
  }
  button:hover {
    background-color: whitesmoke;
    border: #4b5ae0 solid 1px;
    color: #4b5ae0;
    cursor: pointer;
  }

  h2, p, button {
      font-size: 1.2em
  }
  .grayscale{
    filter : grayscale(100%)
  }
  .sepia{
    filter: sepia(100%)
   
  }
  .saturate{
    filter: saturate(50%);
  }
  .invert{
    filter: invert(70%)
  }
  .hue-rotate{
    filter: hue-rotate(180deg);
  }
  .blur{
    filter: blur(8px);
  }
   


